body {
    background-color: rgba(36,36,36,255);
    color: white;
}

h1 {
    align-items: center;
    text-align: center;
}

#form-int {
    background-color: rgba(22,23,23,255);
    padding: 20px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: 100%;
    border: 10px;
    border-radius: 20px;
    border-color: white;
    text-align: center;
    align-items: center;
}

.info {
    padding: 20px;
    text-decoration: underline;
    text-align: left;
    padding-left: 100px;
    background: transparent;
    border: none;
    color: #ffff;
}

input {
    color: transparent;
    border: none;
}

.info:focus {
    outline: none;
}

.info::-webkit-input-placeholder {
    color: white;
}

button{
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: rgba(153,112,250,255);
    border-radius: 8px;
    padding: 5px;
    color: white;
}